# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django media
media/

# Node modules
frontend/node_modules/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log
